<body>

<% if flash[:notice] %>
 <div class="flash" %>
   <%= flash[:notice] %>
   </div>
<% end %>

<p>
<strong>title:</strong>
<%= @book.title %>
</p>

<p>
<strong>body:</strong>
<%= @book.body %>
</p>


<!--
<a hreh=edit_book_path(@book.id)>Edit</a>
|
<a hreh=books_path>Back</a>
-->

  
    <%= link_to "Edit", edit_book_path(@book.id) %>
  
  
  |
  
  
    <%= link_to "Back", books_path %>
  
 </body>
